<header>
    <h1><a href="/">myLibrary</a></h1>
    <nav>
        <a href="/authors">Authors</a>
        <a href="/authors/new">Add Author</a>
        <a href="/books">Books</a>
        <a href="/books/new">Add Book</a>
    </nav>
</header>