@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Light.woff2') format('woff2'),
        url('GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

